.new-authorize-body {
  color: #445870;
  .tip {
    font-size: 15px;
    font-weight: 400;
    color: #f5a623;
    line-height: 24px;
  }
  .company {
    margin: 20px 0;
    font-size: 16px;
    line-height: 22px;
  }
  .new-authorize-footer {
    margin: 30px 0 0 -8px;
  }
}
