.build-contract-title {
  padding: 15px 30px;
  background: #fafbfc;
  font-size: 15px;
  width: 100%;
  color: rgba(143, 161, 183, 1);
}

.ant-advanced-search-form {
  .ant-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.ht-fj {
  // padding-left: 30px;

  ul {
    width: 100%;
  }

  li {
    height: 30px;
    line-height: 30px;
  }
}

.build-manage-no-rooms {
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  line-height: 40px;
  text-align: center;
}
